@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFB;
}

p {
    padding: 15px 0 20px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    hyphens: auto;
}

a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #65676b;
    font-weight: 700;
}

body {
    background: url('https://www.liveagent.com.br/app/themes/liveagent/assets/images/trial_bg_container.svg');
}

main {
    padding: 13px 12px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 73px;
}

h1 {
    padding-top: 39px;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 28.8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1 span {
    background: -webkit-linear-gradient(-90deg,#fa9531 0,#ffbd39 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-14-dias {
    display: inline-block;
    background-color: #efe6f8;
    font-size: 12px;
    line-height: 26px;
    border-radius: 25px;
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 6px;
}

.sem-cartao {
    background-color: #e3f2ff;
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    border-radius: 25px;
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.img-ceo {
    background: linear-gradient(to top,black,rgba(0,0,0,0)), url('https://www.liveagent.com.br/wp/urlslab-download/8ead89ee4e598716f84f9313a72cc02d/bg_trial.jpg');
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.live-agent-logo {
    width: 132px;
    position: absolute;
    left: 48px;
    top: 48px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(121deg) brightness(101%) contrast(102%);
}

.award-img {
    position: absolute;
    right: -12.5px;
    width: 128px;
}

.conteudo-img {
    color: #fff;
    max-width: 310px;
    position: absolute;
    bottom: 42px;
    left: 48px;
    width: 100%;
}

.conteudo-img p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

.conteudo-img em {
    display: block;
    width: 320px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    hyphens: auto;
}

.conteudo-img .slido-img {
    width: 74px;
}

input[type = submit] {
    display: block;
}

.formulario {
    max-width: 556px;
}

.campos {
    display: flex;
    gap: 24px;
    align-items: center;
    border: 1px solid #ced0d4;
    margin-bottom: 20px;
    padding: 20px 15px;
    border-radius: 6px;
    background-color: #fff;
}

.campos input {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.campos svg {
    fill: #ced0d4;
}

input[type = submit] {
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border-width: 0;
    color: #fff;
    background: linear-gradient(-90deg,#fa9531 0,#ffbd39 100%);
    transition: 300ms ease-in-out;
}

input[type = submit]:hover {
    background: linear-gradient(90deg,#fa9531 0,#ffbd39 100%);
    cursor: pointer;
}

.campo-email i {
    color: #ced0d4;
    font-size: 20px;
}

.campo-nome-empresa {
    display: flex;
    align-items: center;
    padding-left: 20px;
    display: flex;
    gap: 24px;
    align-items: center;
    border: 1px solid #ced0d4;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
}

.campo-nome-empresa::after {
    content: 'i';
    text-align: center;
    height: 15.5px;
    width: 15.5px;
    background-color: #65676B;
    position: absolute;
    right: -1.5%;
    top: -11%;
    border: auto;
    left: auto;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.campo-nome-empresa input {
    flex-grow: 1;
    margin: 20px 0;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.campo-nome-empresa div {
    padding: 22px 20px;
    color: #65676b;
    background: #F5F5F7;
    border-radius: 0px 5px 5px 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.campo-nome-empresa svg {
    fill: #ced0d4;
}

input [type = checkbox] {
    width: 50px;
}

.atualizacoes label {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #65676b;
    margin-left: 4px;
}

small {
    font-size: 12px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #8c9097;
}

.premiacaoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.premiacaoes img {
    max-width: 100px;
    filter: invert(53%) sepia(0%) saturate(664%) hue-rotate(80deg) brightness(93%) contrast(95%);
}

.premiacaoes img:nth-of-type(2) {
    max-width: 115px;
}

.premiacaoes img:nth-of-type(3) {
    max-width: 154px;
}

.mostrar-texto {
    visibility: hidden;
    position: absolute;
    width: 260px;
    top: 12px;
    right: -12px;
    background: black;
    color: #fff;
    border-radius: 7px;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18.72px;
    hyphens: auto;
}

.mostrar-texto-ponta {
    visibility: hidden;
    position: absolute;
    top: 2px;
    right: -2px;
    border: 5px solid transparent;
    border-bottom-color: black;
}


.circulo {
    /* ocultar temporariamente */
    display: none;

    position: fixed;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: linear-gradient(135deg, #F3B112 0%, #F36D12 100%);
    box-shadow:0 3px 10px rgba(0,0,0,0.3);
    right: 20px;
    bottom: 26px;
}

.quadrado {
    /* ocultar temporariamente */
    display: none;
    
    position: absolute;
    height: 33px;
    width: 31px;
    top: 16.9px;
    right: 17.5px;
    background: #fff;
    border-radius: 5px;
    box-shadow:0 3px 10px rgba(0,0,0,0.3);
}

.atualizacoes {
    display: flex;
    align-items: center;
}

label {
    cursor: pointer;
}

input[type = checkbox] {
    appearance: none;
    height: 22px;
    width: 22px;
    border-radius: 5px;
    border: 1px solid #65676b60;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

input[type = checkbox]::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: '\f00c';
    color: white;
    display: none;
    font-size: 1rem;
}

input[type = checkbox]:checked {
    background-color: #FA9531;
    border: none;
}

input[type = checkbox]:checked:after {
    display: block;
}